body{
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
  }

h1{
  color: #C3BA85;
 margin-top: 0;
 font-family: 'Sacramento', cursive;
 margin: 50px auto 0 auto;
 font-size: 5.625rem;

}

h2{
  color: #C3BA85;
  font-weight: normal;
font-family: 'Montserrat', sans-serif;
 font-size: 2rem;
 padding-bottom: 10px;
}

h3{
  color: #C3BA85;
font-family: 'Montserrat', sans-serif;

}

p{
 color: grey;
line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #C3BA85;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 40px;
  text-decoration: none;
}

a:hover{
  color: grey;
}

.copyright{
  color: grey;
  font-size: 0.75rem;
  padding: 20px 0 10px;
}

.top-container{
  background-color: #FEFFE2;
  position: relative;
  padding-top: 100px;

}

.mid-container{
margin: 100px 0 20px;
}

.bottom-container{
  margin: 75px auto 0;
  background-color: #FEFFE2;
  padding: 50px 0 10px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile-pic{
  padding-top: 100px;
  height: 200px;
   width: 200px;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-cloud{
 position: absolute;
 right: 300px;
 top: 40px;

}

.bottom-cloud{
position: absolute;
left: 250px;
bottom: 300px;
}

.skill-1{
  float: left;
  margin-right: 30px;
}

.skill-2{
float: right;
margin-left: 30px;
}

.contact-message{
width: 40%;
margin: 40px auto 60px;
}

.btn {
  background: #F0F0CB;
  background-image: -webkit-linear-gradient(top, #F0F0CB, #FEFFE2);
  background-image: -moz-linear-gradient(top, #F0F0CB, #FEFFE2);
  background-image: -ms-linear-gradient(top, #F0F0CB, #FEFFE2);
  background-image: -o-linear-gradient(top, #F0F0CB, #FEFFE2);
  background-image: linear-gradient(bottom, #F0F0CB, #FEFFE2);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #C3BA85;
  background-image: -webkit-linear-gradient(top, #C3BA85, #DAD5AB);
  background-image: -moz-linear-gradient(top, #C3BA85, #DAD5AB);
  background-image: -ms-linear-gradient(top, #C3BA85, #DAD5AB);
  background-image: -o-linear-gradient(top, #C3BA85, #DAD5AB);
  background-image: linear-gradient(to bottom, #C3BA85, #DAD5AB);
  text-decoration: none;
}
